{% extends './base.html' %}
{% load static %}
{% load custom_tags %}


{% block title %}Company profile{% endblock %}
{% block content %}




      <div class="container pt-5">
          <div class="row">
              <div class="col-md-4">
              <span>
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
              </span>
                   
                                              
              <div class="card text-center align-items-center pt-5 pb-5">
                  <img src="{{request.user.company.image.url}}" alt="" class="profile">
                  <p class="pt-2">Name : {{request.user}}</p>
                  <p>Email : {{request.user.email}}</p>
                  <p>Phone : {{request.user.company.phone}}</p>
                  <a href="{% url 'editcompany' %}" class="btn btn-primary">Edit </a>
              </div>
          
            
                  

              </div>
              <div class="col-md-8">

                <h2>Employee Reviews </h2>

                {% for item in review %}
                  {% if item.company.user == request.user %}
                  
                    <div class="companies-list">
                        <span class="float-right">{{item.posted_on}}</span>
                        <div class="review-header">
                        {% if item.employee.employee.image %}
                            <img src="{{item.employee.employee.image.url}}" alt="" class="review-user">
                        {% else %}
                            <img src="{% static 'img/profile-icon.png' %}" alt="" class="review-user">
                        {% endif %}
                            <h2 >{{item.employee}} </h2>
                        </div>
                        <p>{{item.post}} </p>
                        <p>Rating - 
                            {% for i in item.rating|times %}
                                <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                            {% endfor %}
                            
                        </p>
                        <a href="#" class="btn btn-primary">View Review</a>
                      </div>

                  {% endif %}
                      

                    

                {% endfor %}

                
                
<!-- pagination -->
              <div class="pagination-div-bottom">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              </div>
          </div>
      </div>

{% endblock %}