{% extends './base.html' %}

{% block content %}

{% load static %}


      <div class="container pt-5">
          <div class="row">
              <div class="col-md-3">
                  <div class="card text-center align-items-center pt-5 pb-5">
                      <img src="https://banner2.cleanpng.com/20180517/uzq/kisspng-computer-icons-user-profile-male-avatar-5afd8d7b2682b3.7338522715265662671577.jpg" alt="" class="profile ">
                      <p class="pt-2">Name : Company One</p>
                      <p>Email : company@gmail.com</p>
                      <p>Phone : 9876542130</p>
                      <button class="btn btn-primary">Edit </button>
                  </div>
              </div>
              <div class="col-md-6">

                <h2>Employee Reviews </h2>
                <div class="list-group mb-3">
                    <a href="#" class="list-group-item list-group-item-action active">UserOne , <span class="float-right">14-09-2021</span> </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <br>
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">

                    </a>                    
                </div>
                <div class="list-group mb-3">
                    <a href="#" class="list-group-item list-group-item-action active">UserTwo , <span class="float-right">14-09-2021</span> </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <br>
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">

                    </a>                    
                </div>
                <div class="list-group mb-3">
                    <a href="#" class="list-group-item list-group-item-action active">UserThree , <span class="float-right">14-09-2021</span> </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        <br>
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">
                        <img src="https://www.pinclipart.com/picdir/middle/5-50759_dodgeball-clipart.png" alt="" class="rating">

                    </a>                    
                </div>
<!-- pagination -->
                <div>
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">2</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">4</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">5</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">&raquo;</a>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>

{% endblock %}