{% extends './base.html' %}
{% load static %}

{% block title %}Edit Review{% endblock %}
{% block content %}
<div class="companies-list w-75 mx-auto">
    <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Review</label>
                {{reviewform.post}}
            </div>
            <div class="form-group">
                <label for="">Rating</label>
                {{reviewform.rating}}
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
           
                
            </div>
        </form>
</div>

        

{% endblock %}