{% extends './base.html' %}

{% block content %}

      <div class="container">
          <div class="row">
              <div class="col-md-12 mt-3">
                  <div class="profile-container">
                      <img src="{{request.user.employee.image.url}}" alt="" class="user-profile">
                        
                    
                        <div class="profile-details">
                            <h1>{{request.user}}</h1>
                            <p>{{request.user.email}}</p>
                            <p>{{request.user.employee.phone}}</p>
                        </div>
         
                   
                        <a href="{% url 'editemployee' %}" class="btn btn-primary">Edit </a>
                  </div>
              </div>

              <div class="col-md-12">
                  <form action="" method="post">
                      <div class="search">
                          <input type="text" class="form-search">
                          <button>
                            <i class="fas fa-search"></i>
                          </button>
                      </div>
                  </form>

                <!-- company list -->

                {% for item in user %}
                    {% if item.is_company %}

                        <div class="companies-list">
                            <h2> {{item.username}} </h2>
                            <p>{{item.company.description}} </p>
                            <a href="{% url 'openreview' %}" class="btn btn-primary">Open Review</a>
                            <a href="{% url 'unknownreview' %}" class="btn btn-warning">Review as Unknown</a>
                        </div>

                    {% endif %}
                {% endfor %}
                  
              </div>

          </div>
      </div>
     
{% endblock %}