{% extends './base.html' %}
{% load static %}


{% block title %}Employee profile{% endblock %}
{% block content %}

      <div class="container">
          <div class="row">
              <div class="col-md-12 mt-3">
                  <div class="profile-container">
                      <img src="{{request.user.employee.image.url}}" alt="" class="user-profile rounded">
                        
                    
                        <div class="profile-details">
                            <h1>{{request.user}}</h1>
                            <p>{{request.user.email}}</p>
                            <p>{{request.user.employee.phone}}</p>
                        </div>
         
                   
                        <a href="{% url 'editemployee' %}" class="btn btn-primary">Edit </a>
                  </div>
              </div>

              <div class="col-md-12">
                  <form action="" method="post">
                      <div class="search">
                          <input type="text" class="form-search">
                          <button>
                            <i class="fas fa-search"></i>
                          </button>
                      </div>
                  </form>

                <!-- company list -->
                <h2>Companies </h2>

                {% for item in company %}
    
                        <div class="companies-list">
                            <h2> {{item.user.username}} </h2>
                            <p>{{item.description}} </p>
                            <a href="{% url 'openreview' item.id %}" class="btn btn-primary">Open Review</a>
                            <a href="{% url 'unknownreview' item.id %}" class="btn btn-warning">Unknown Review</a>
                                
                        </div>

                {% endfor %}
                  
              </div>

          </div>
      </div>
     
{% endblock %}