{% extends './base.html' %}


{% load static %}

{% block content %}

{% if request.user.is_authenticated %}

{% else %}

    <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h2 class="mt-5 pt-5 banner-heading">company reviews <br>
                    gets easier.</h2>
                    <p class="banner-text">#1 rank your company</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">SignUp</a>
                    <a href="{% url 'home' %}" class="btn btn-info">Explorer</a>
              </div>
              <div class="col-md-6">
                  <img src="{% static 'img/banner.png' %}" alt="" class="img-fluid mt-5">
              </div>
          </div>
      </div>

{% endif %}
      


      <div class="container mt-3">
      
          <div class="row">
          
              <div class="col-md-12">
              
                <form action="" method="post" >
                    <div class="search mb-4">
                        <input type="text" class="form-search" placeholder="Search Company">
                        <button>
                          <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                
                <h2>Top Rated companies</h2>
 

                {% for item in user %}

                    {% if item.is_company %}

                        
                        <div class="companies-list">
                            <h2>{{item.username}}</h2>
                            <p>{{item.company.description}} </p>
                            <p>Rating - 
                                <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                                <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                                <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                                <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                            </p>
                            <a href="{% url 'openreview' %}" class="btn btn-primary">View Review</a>
                        </div>

                    {% endif %}

                {% endfor %}


                <!-- company list -->
              
              </div>
          </div>
      </div>


{% endblock %}