{% extends './base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Home{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}

{% else %}

    <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h2 class="mt-5 pt-5 banner-heading">company reviews <br>
                    gets easier.</h2>
                    <p class="banner-text">#1 rank your company</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">SignUp</a>
                    <a href="#top-companies" class="btn btn-info">Explorer</a>
              </div>
              <div class="col-md-6">
                  <img src="{% static 'img/banner.png' %}" alt="" class="img-fluid mt-5">
              </div>
          </div>
      </div>

{% endif %}
      


      <div class="container mt-3" id="top-companies">
      
          <div class="row">
          
              <div class="col-md-12">
              <!-- Search bar-->
                <form class="form-inline" method="post" action="">
                {% csrf_token %}
                <div class="search-group">
                    <input id="search-input" type="search" class="form-control" placeholder="Search...">  
                    <button id="search-button" type="button" class="btn btn-primary btn-sm">
                    <i class="fa fa-search"></i>
                    </button>
                </div>
                </form>
                <h2>Top Rated companies</h2>
 
                {% for item in company %}                      
                  <div class="companies-list">
                      <h2>Name : {{item.user.username}}</h2>
                      <p>Company Descirption : {{item.description}} </p>    
                      
                      <p>Average Rating :
                      {% with average=showreview|avg:item.id|floatformat:"0" %}
                          {% for rating in average|times %}
                              <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                          {% endfor %}                                          
                      {% endwith %}
                      </p>
                          <a href="{% url 'openreview' item.id %} " class="btn btn-primary">View Reviews</a>      
                  </div>
              {% endfor %}

                <!-- company list -->
              
              </div>
          </div>
      </div>


{% endblock %}
{% block javascript %}
{% endblock javascript %}