{% extends './base.html' %}


{% load static %}

{% block content %}

      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h2 class="mt-5 pt-5 banner-heading">company reviews <br>
                    gets easier.</h2>
                    <p class="banner-text">#1 rank your company</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">SignUp</a>
                    <a href="{% url 'home' %}" class="btn btn-info">Explorer</a>
              </div>
              <div class="col-md-6">
                  <img src="{% static 'img/banner.png' %}" alt="" class="img-fluid mt-5">
              </div>
          </div>
      </div>


      <div class="container mt-3">
          <div class="row">
              <div class="col-md-12">
                <form action="" method="post" >
                    <div class="search mb-4">
                        <input type="text" class="form-search" placeholder="Search Company">
                        <button>
                          <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

                <!-- company list -->
              <div class="companies-list">
                  <h2>Company One </h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <p>Rating - 
                      <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                      <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                      <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                      <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                  </p>
                  <a href="{% url 'openreview' %}" class="btn btn-primary">View Review</a>
              </div>
              <div class="companies-list">
                  <h2>Company Two </h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <p>Rating - 
                    <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                    <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                    <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                    <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                </p>
                  <a href="{% url 'openreview' %}" class="btn btn-primary">view Review</a>
              </div>
              </div>
          </div>
      </div>


{% endblock %}