{% extends './base.html' %}


{% block content %}

{% load static %}


      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <img src="https://png.pngtree.com/element_our/png/20180912/coffee-time-png_91570.jpg" alt="" style="width: 150px;">
                   
              </div>
              <div class="col-md-9">
                  <form action="" method="post">
                      <div class="form-group">
                          <label for="">Review</label>
                          <textarea name="" id="" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary">Submit</button>
                      </div>
                  </form>


                <div class="companies-list">
                    <span class="float-right">14-09-2021</span>
                    <h2>User One </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p>Rating - 
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                    </p>
              </div>
              <div class="companies-list">
                    <span class="float-right">14-09-2021</span>
                    <h2>User Two </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p>Rating - 
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                    </p>
              </div>
              <div class="companies-list">
                    <span class="float-right">14-09-2021</span>
                    <h2>User Three </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p>Rating - 
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                        <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                    </p>
              </div>
              </div>
          </div>
      </div>
     

{% endblock %}