{% extends './base.html' %}
{% load static %}

{% block content %}




      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <img src="{{company.image.url}}" alt="" style="width: 150px;" class="user-profile rounded">
                   <h2>{{company.user.username}}</h2>
              </div>
              <div class="col-md-9">

                  <form action="" method="post">
                  {% csrf_token %}
                      <div class="form-group">
                          <label for="">Review</label>
                          {{review.post}}
                      </div>
                      <div class="form-group">
                          <label for="">Rating</label>
                          {{review.rating}}
                      </div>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                  </form>

                
                {% for item in showreview %}
                    {% if item.company == company %}

                    <div class="companies-list">
                        <span class="float-right">{{item.posted_on}}</span>
                        <h2>{{item.employee}} </h2>
                        <p>{{item.post}}</p>
                        <p>Rating - 
                        <h4>{{item.rating}}<img src="{% static 'img/star.jpg' %}" alt="" class="star-img"></h4>
                            
                        </p>
                    </div>

                    {% endif %}
                    


                {% endfor %}
              
              </div>
          </div>
      </div>
     

{% endblock %}