{% extends './base.html' %}
{% load static %}

{% block title %}Review as unknown{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card align-items-center pt-5 pb-5 company-profile-card">
            <img src="{{company.image.url}}" alt="" class="profile">
                  <p class="pt-2">Name : {{company.user.username}}</p>
                  <p>Email : {{company.user.email}}</p>
                  
            <!--popup box/modal for sending anonymous message-->

                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Unknown Review</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <p class="col-form-label">Recipient:</p>
                            <span>{{company.user.username}}</span>,
                            <span>{{company.user.email}}</span>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            {{unknownform.post}}
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                        
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                    </div>
                </div>
                </div>
            </div>

<!--popup/modal end-->
            
        </div>
        
    </div>
    <h2>My Reviews</h2>
    <hr>
    {% for review in unknown_review %}
          
        {% if review.employee == request.user %}
        
            <div class="companies-list">
                <span class="float-right">{{review.posted_on}}</span>
                <h2>{{review.company.user}}</h2>
                <p>{{review.post}} </p>
                
            </div>
        {% endif %}         
        

    {% endfor %}
</div>

{% endblock %}