{% extends './base.html' %}

{% block title %}Register{% endblock %}
{% block content %}


      <div class="container">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                   <form action="" method="post" class="form-login" >
                    {% csrf_token %}

                       <h3 class="text-center login-heading">Register</h3>
                       <div class="form-group">
                           <label for="">First name</label>
                           {{form.first_name}}
                       </div>
                       <div class="form-group">
                           <label for="">Last name</label>
                           {{form.last_name}}
                       </div>
                       <div class="form-group">
                           <label for="">Username</label>
                           {{form.username}}
                       </div>
                       <div class="form-group">
                           <label for="">Email</label>
                           {{form.email}}
                       </div>
                       <div class="form-group">
                            <label for="">Password</label>
                            {{form.password1}}
                        </div>
                        <div class="form-group">
                            <label for="">confirm Password</label>
                            {{form.password2}}
                        </div>
                        <div class="form-group">
                            <label for="">Register as Employee</label>
                            {{form.is_employee}}
                        </div>
                        <div class="form-group">
                            <label for="">Register as Company</label>
                            {{form.is_company}}
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" value="Register" id="" class="btn btn-primary">
                        </div>

                        {{form.errors}}
                        <hr>
                        <a href="{% url 'login' %}" class="forgot-link"><span> Already registered ?</span> Login</a>
                   </form>
                   
              </div>
          </div>
      </div>



{% endblock %}
