{% extends './base.html' %}

{% block content %}


<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="firstname" placeholder="firstname"><br>
    <input type="text" name="lastname" placeholder="lastname"><br>
    <input type="text" name="username" placeholder="username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password1" placeholder="firstpassword"><br>
    <input type="password" name="password2" placeholder="confirmpassword"><br>
    <input type="submit" name="signin" value="SignIn">
    
</form>


{% endblock %}
