{% extends './base.html' %}

{% block content %}


    <header class="py-2 bg-primary text-white" id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1><i class="fas fa-user-circle"></i> Profile</h1>
                </div>
            </div>
        </div>
    </header>


    <!---Actions-->

    <section id="action" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mr-auto">
                    <a href="./../../index.html" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-circle-left"></i> Back To Dashboard
                    </a>
                </div>
                <div class="col-md-3"><a href="#" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#passwordModal">
                        <i class="fas fa-key"></i> Change Password
                    </a>
                </div>
                <div class="col-md-3"><a href="#" class="btn btn-danger btn-block">
                        <i class="fas fa-trash-alt"></i> Delete Account
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!----Profile----->

    <section id="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Profile</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-group">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-group">
                                </div>


                                <div class="form-group">
                                    <label for="body">Bio</label>
                                    <textarea type="text" name="editor1" class="form-control"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Avatar</h3>
                    <img src="./../img/profile-icon.png" alt="profile" class="d-block img-fluid mb-3">
                    <button class="btn btn-primary btn-block">Edit Avatar</button>
                    <button class="btn btn-danger btn-block">Delete Avatar</button>
                </div>
            </div>
        </div>

        </div>
        </div>
    </section>


    <!--password module-->

    <div class="modal fade" id="passwordModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Change Password</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control">
                    </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" data-dismiss="modal">Save</button>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}