{% extends './base.html' %}

{% block content %}

    <header class="py-2 bg-primary text-white" id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1> <i class="fas fa-tools"></i> Settings</h1>
                </div>
            </div>
        </div>
    </header>


    <!---Actions-->

    <section id="action" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mr-auto">
                    <a href="./../../index.html" class="btn btn-light btn-block">
                        <i class="fas fa-arrow-circle-left"></i> Back To Dashboard
                    </a>
                </div>
                <div class="col-md-3"><a href="#" class="btn btn-success btn-block">
                        <i class="fas fa-check"></i> Save
                    </a>
                </div>

            </div>
        </div>
    </section>


    <!----Settings----->

    <section id="settings">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Settings</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <fieldset class="form-group">
                                    <legend>Allow User Registration</legend>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="yes" checked>Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="no">No
                                        </label>
                                    </div>
                                </fieldset>

                                <fieldset class="form-group">
                                    <legend>Homepase Format</legend>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="posts" checked>Post
                                            Index
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="page">Single Page
                                        </label>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        </div>
        </div>
    </section>

    {% endblock %}