@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.btn{
    border-radius: 20px;
    padding: 8px 30px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bolder;
}
.navbar{
    padding-top: 20px;
}

.banner-heading{
    color: #1465C0;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.banner-text{
    color: #7c7c7c;
    font-weight: bolder;
    margin-bottom: 30px;
}
.form-login{
    margin-top:100px;
    box-shadow: 0 0 15px 0px #a6b2be;
    padding: 20px;
    border-radius: 20px;
}

.login-heading{
    font-weight: bolder;
    margin: 20px;
}

hr{
    background: #6da1db;
}
a:hover{
    text-decoration: none;
}
.forgot-link{
    color: #000;
}
.profile-container img{
    width: 100px;
    height: 100px;
}
.profile-container{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 50px 30px;
    /* background-color: #d1d1d1; */
    border-radius: 30px;
    margin-bottom: 20px;
}

.profile-container .user-profile{
  display: block;   

  /* background-color: red; */
}
.profile-container button{
    /* height: 50px; */
    border-radius: 0;
    padding: 10px 10px ;
    background-color: #444;
    border: 1px solid #444;
}
.profile-details h1{
    font-size: 50px;
    font-weight: 700;
}
.profile-details{
    width: 70%;
    font-weight: 400;
    font-size:30px;

}
.company-details h1{
  font-size: 40px;
  font-weight: 700;
}
.company-details{
  font-weight: 400;
  font-size:20px;

}
.user-profile{
  display: block;   

  /* background-color: red; */
}
.companies-list{
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 0 15px 0px #a6b2be;
}

.search-group{
  margin-bottom: 3px;
  margin-left: auto;
  display: flex;
}
.search-group input{
  border-radius: 20px;
}
*,*:focus,*:hover{
    outline:none;
}

.star-img{
    width: 20px;
}



/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
  .comments{
      background-color: #f2f8cd;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      margin-bottom: 20px;
  }
  .comments::after{
      content: "";
      position: absolute;
      bottom: -8px;
      width: 20px;
      height: 20px;
      transform: rotate(60deg);
      background-color: #f2f8cd;
  }

.rating{
    width: 20px;
}
.profile{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.title-profile{
    width: 30px;

}

.pagination-div-bottom{
  margin-top: 10px;
}

.company-profile-card{
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 0 15px 0px #a6b2be;
}
.review-header img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  background: #555;
}
.review-header h2 {
  position: relative;
  margin-bottom: 2rem;
  top: 18px;
  left: 10px;
}